# **SQL Basics Assignment THEORY Questions**

Que1.Create a table called employees with the following structure emp_id (integer, should not be NULL and should be a primary key) emp_name (text, should not be NULL) age (integer, should have a check constraint to ensure the age is at least 18) email (text, should be unique for each employee) salary (decimal, with a default value of 30,000). Write the SQL query to create the above table with all constraints.

Ans:  
 create table employees (emp_id int not null primary key, emp_name varchar(50) not null , age int check(age >=18) , email varchar(100) unique, salary decimal(10,2) default 30000.00)

Que2. . Explain the purpose of constraints and how they help maintain data integrity in a database. Provide examples of common types of constraints.

Ans: Constraints are rules enforced on data columns in a relational database. Their main purpose is to ensure data integrity, which means maintaining accuracy, reliability, and consistency of data throughout its lifecycle.

Without constraints, a database may accept invalid, incomplete, or duplicate data, which can lead to errors and unreliable analysis.

üîí How Constraints Help Maintain Data Integrity

* Prevent invalid data entry (e.g., age can't be negative)

* Avoid duplication (e.g., unique emails or IDs)

* Maintain required relationships between tables (via foreign keys)

* Ensure completeness of data (e.g., mandatory fields can't be NULL)

**  Common Types of Constraints (with Examples)

1. PRIMARY KEY:	Uniquely identifies each record and cannot be NULL.
e.g.
	emp_id INT PRIMARY KEY

2. NOT NULL	Ensures a column must always have a value. e.g.	emp_name VARCHAR(50) NOT NULL

3. UNIQUE	Ensures all values in a column are different. e.g.	email VARCHAR(100) UNIQUE

4. CHECK	Validates data against a condition. e.g.	age INT CHECK (age >= 18)

5. DEFAULT	Assigns a default value when none is provided. e.g.	salary DECIMAL DEFAULT 30000.00

6. FOREIGN KEY	Maintains referential integrity between two related tables	e.g.dept_id INT, FOREIGN KEY (dept_id) REFERENCES departments(dept_id)

Que3. Why would you apply the NOT NULL constraint to a column? Can a primary key contain NULL values? Justify your answer.

Ans: The NOT NULL constraint is used to ensure that a column must always have a value. It prevents the insertion of NULL values (i.e., missing or unknown data) into a column.

Purpose:

‚úÖ To enforce mandatory fields, like name, email, or ID, which are essential for the record.

‚úÖ To avoid incomplete data that could affect business logic or calculations.

‚úÖ To maintain data integrity and consistency across rows.

* Can a Primary Key Contain NULL Values?

No, a primary key cannot contain NULL values.
This is because a primary key has two important properties:

1) It must be unique for each row.

2) It must be not null (i.e., it must always contain a value).

Que4.Explain the steps and SQL commands used to add or remove constraints on an existing table. Provide an example for both adding and removing a constraint.

Ans: You can add or remove constraints on an existing table using the ALTER TABLE statement in SQL. This is useful when you want to modify the structure of a table without recreating it.

üîπ Steps to Add a Constraint

1) Identify the constraint type (e.g., NOT NULL, UNIQUE, CHECK, FOREIGN KEY).

2) Use ALTER TABLE along with ADD CONSTRAINT.

üîπ Steps to Remove a Constraint

1) Know the constraint name (some systems auto-generate names).

2) Use ALTER TABLE with DROP CONSTRAINT or DROP INDEX, depending on the type.

Que5. Explain the consequences of attempting to insert, update, or delete data in a way that violates constraints. Provide an example of an error message that might occur when violating a constraint.

Ans: Constraints are rules in a database that maintain data accuracy, integrity, and consistency. If you attempt to insert, update, or delete data that violates these rules, the database will reject the operation and return an error message.

1.  NOT NULL : 	Trying to insert NULL into a required field.

	Error: Field cannot be NULL

2. UNIQUE :	Inserting a duplicate value in a unique column.
Error: Duplicate entry

3. CHECK :	Entering a value that fails a condition.
	Error: Check constraint failed

4. PRIMARY KEY :Duplicate or missing key.
	Error: Duplicate or null key

5. FOREIGN KEY :	Inserting a value that doesn't exist in the referenced table.	 Error: Foreign key constraint fails

Exaple:  ‚ùå NOT NULL Violation

INSERT INTO employees (emp_id, emp_name) VALUES (101, NULL);

üß® Error:

ERROR 1048 (23000): Column 'emp_name' cannot be null

Que6. You created a products table without constraints as follows:

CREATE TABLE products ( product_id INT, product_name VARCHAR(50), price DECIMAL(10, 2));



 Now, you realise that The product_id should be a primary key The price should have a default value of 50.00.

Ans:
Original Table
```
CREATE TABLE products (product_id INT , product_name VARCHAR(50),price DECIMAL(10,2));
```
To add product Id as a primary key and price column a default value of 50.00


```
ALTER TABLE products
ADD CONSTRAINTS pk_product_id PRIMARY KEY (product_id);

ALTER TABLE products
MODIFY COLUMN price DECIMAL(10,2) DEFAULT 50.00

```

# Normalisation & CTE

1. First Normal Form (1NF):a. Identify a table in the Sakila database that violates 1NF. Explain how you would normalize it to achieve 1NF.


Ans: In the Sakila database, most tables are already normalized. However, let's consider a hypothetical case. Suppose we had a customer table like this:

| customer\_id | first\_name | phone\_numbers   |
| ------------ | ----------- | ---------------- |
| 1            | Alice       | 123-456, 789-012 |

This violates 1NF because the phone_numbers field contains multiple values (not atomic).

To normalize this table into 1NF:

Original Table (Violating 1NF):
Combines multiple phone numbers into one field.

Normalized Structure:
Split into two tables:

customer: Contains customer info.

customer_phone: Contains one phone number per row.

2. Second Normal Form (2NF):               a. Choose a table in Sakila and describe how you would determine whether it is in 2NF.             If it violates 2NF, explain the steps to normalize it.

Ans: a. Determining if a table in Sakila is in 2NF
To check whether a table is in Second Normal Form (2NF), we first need to ensure:

The table is already in First Normal Form (1NF).

There are no partial dependencies ‚Äî i.e., non-key attributes should depend on the whole composite primary key, not just part of it.

Example: film_actor Table
The film_actor table has the following structure:

Column Name	Description
actor_id	ID of the actor
film_id	ID of the film
last_update	Timestamp of update

Here, the primary key is a composite key: (film_id, actor_id)

Does this table violate 2NF?
The column last_update depends on the whole composite key (film_id, actor_id), not just on one part.

There are no partial dependencies.

‚úÖ So, this table is already in 2NF.

Now, consider a hypothetical violation of 2NF:
Suppose we had a table like:

student_id	course_id	student_name	course_name

Primary Key: (student_id, course_id)

Here:

student_name depends only on student_id

course_name depends only on course_id

These are partial dependencies, so this table violates 2NF.

To normalize it into 2NF:
Split the table into 3:

student: (student_id, student_name)

course: (course_id, course_name)

student_course: (student_id, course_id) ‚Üí relationship table

Que3.Third Normal Form (3NF):               a. Identify a table in Sakila that violates 3NF. Describe the transitive dependencies                present and outline the steps to normalize the table to 3NF.

Ans: a. Identify a table in Sakila that violates 3NF
To check if a table is in Third Normal Form (3NF):

The table must already be in Second Normal Form (2NF).

There should be no transitive dependencies ‚Äî i.e., non-key attributes should not depend on other non-key attributes.

Example: Suppose there is a table: customer_details
customer_id	customer_name	address_id	city	country

Here, assume the primary key is customer_id.

Transitive Dependencies:
address_id depends on customer_id ‚úÖ (direct)

city depends on address_id ‚ùå (indirect/transitive)

country depends on city ‚ùå (also transitive)

This violates 3NF because:

city and country are non-key attributes depending on another non-key attribute (address_id and city, respectively), not directly on the primary key.

To normalize to 3NF:
We decompose the table as follows:

customer: (customer_id, customer_name, address_id)

address: (address_id, city_id)

city: (city_id, city, country_id)

country: (country_id, country)

This structure already exists in the Sakila database, which follows proper normalization.

‚úÖ Result:
By breaking down the table and removing transitive dependencies, we ensure that each non-key attribute depends only on the primary key, achieving Third Normal Form (3NF).

4. Normalization Process:               a. Take a specific table in Sakila and guide through the process of normalizing it from the initial              unnormalized form up to at least 2NF.

Ans:
a. Example Table: film_actor_unnormalized
Let‚Äôs assume we have the following unnormalized table (UNF):

| film\_id | film\_title | actor\_names                    |
| -------- | ----------- | ------------------------------- |
| 1        | Matrix      | Keanu Reeves, Hugo Weaving      |
| 2        | Titanic     | Leonardo DiCaprio, Kate Winslet |
| 3        | Matrix      | Carrie-Anne Moss                |

In this table:

actor_names contains multiple values in one field (comma-separated).

This violates 1NF, which requires atomic values (each field contains only one value).

Step 1: Convert to First Normal Form (1NF)
Problem in UNF: actor_names contains multi-valued attributes.

To achieve 1NF, split the actors into separate rows.

| film\_id | film\_title | actor\_name       |
| -------- | ----------- | ----------------- |
| 1        | Matrix      | Keanu Reeves      |
| 1        | Matrix      | Hugo Weaving      |
| 2        | Titanic     | Leonardo DiCaprio |
| 2        | Titanic     | Kate Winslet      |
| 3        | Matrix      | Carrie-Anne Moss  |

Now each field contains atomic (indivisible) values.

Step 2: Convert to Second Normal Form (2NF)
Problem in 1NF:

The primary key is (film_id, actor_name).

film_title depends only on film_id, not on the full composite key.

This violates 2NF ‚Äî partial dependency exists.

Solution: Break into two tables
Film Table
(Stores film details)

| film\_id | film\_title |
| -------- | ----------- |
| 1        | Matrix      |
| 2        | Titanic     |
| 3        | Matrix      |

Film_Actor Table
(Maps actors to films)

| film\_id | actor\_name       |
| -------- | ----------------- |
| 1        | Keanu Reeves      |
| 1        | Hugo Weaving      |
| 2        | Leonardo DiCaprio |
| 2        | Kate Winslet      |
| 3        | Carrie-Anne Moss  |

Now all non-key attributes in both tables depend on the entire primary key or single key ‚Äî 2NF achieved.